.contact-card{
    width: 80%;
    height: 50rem;
    margin-top: 2.5rem;
  }
.contactleft {
    position:absolute;
    left:13rem;
    margin-top: -51.8rem;
    color:white;
    font-size: 15vw;
  }
  .contact-text{
    margin-top: 2.5rem;
     margin-left: 4.375rem;
  }
  .contactcard {
    position:absolute;
    left:11.25rem;
    margin-top: -43rem;
    width:56.25rem;
    height:40.625rem;
    background-color: white;
   }
   .textcolor{
    color: #4FD84F;
  }
  .contacttext{
    color:black;
    margin-left: 0.625rem;
  }
  .contact-bottom-text{
    width: 56.25rem;
    height: 20rem;
    background-color: #BDA083
  }
  .contact-bottom-img{
    margin-left: 4.5rem; 
    margin-top: 4.375rem;
    width:6%;
   }
   .contact-bottomtext{
    margin-top: -3.5rem; 
    margin-left: 13.125rem;
    color: white;
   }
   .contact-icons{
    margin-top: -5rem;
    margin-left: 40.625rem;
     color: white;
   }
   .input-box{
    margin-left:2.18rem;
  }
  .box{
    width:350px;
    background-color:white;
    margin-top:-450px;
    margin-left:500px;
    box-shadow: 5px 0.5px #dedfe0;
  }
  input{
    width:280px;
    margin-bottom: 20px;
    border-color:1px solid grey;
  }
  textarea{
    width:280px;
    margin-bottom: 20px;
    border-color:1px solid grey; 
   }
  .subbutton{
    width:280px;
    margin-bottom: 20px;
    border-color:#4FD84F;
    background-color: #4FD84F;
    color:white;
   }
   .subbutton:hover{
    border-color:#4FD84F;
    background-color: #4FD84F;
   }
   .contact-links{
    margin-top: 12.5rem;
    margin-left:5rem;
  }
  .contact-link{
    margin-left:13.75rem;
  }
  .text1{
    color:white;
  }
 @media screen and (max-width: 960px) {
    .contact-card{
        width: 300%;
        height: 50rem;
        margin-top: 2.5rem;
      }
    .contactleft {
        position:absolute;
        left:16rem;
        margin-top: -51.8rem;
        color:white;
        font-size: 40vw;
       }
    .contact-text{
        margin-top: 2.5rem;
        margin-left: 4.38rem;
      }
    .contactcard {
        position:absolute;
        left:7.5rem;
        margin-top: -44.5rem;
        width:56.25rem;
        height:40.625rem;
        background-color: white;
       }
       .contact-bottom-text{
        width: 56.25rem;
        height: 20rem;
        background-color: #BDA083
      }
      .contact-bottom-img{
        margin-left: 3.75rem; 
        margin-top: 4.375rem;
       }
       .contact-bottomtext{
        margin-top: -3rem; 
        margin-left: 13.125rem;
        color: white;
       }
       .contact-icons{
        margin-top: -5rem;
        margin-left: 40.625rem;
         color: white;
       }
       .input-box{
        margin-left:2.18rem;
      }
      
 }